# Main framework
streamlit

# Database
pandas
sqlite3-binary

# PDF Export
fpdf
reportlab

# Excel Export
openpyxl
xlsxwriter

# Security (สำหรับการเข้ารหัสรหัสผ่าน ถ้าอยากทำ login)
bcrypt

# Utility
python-dateutil
